.content{width: 1226px;margin: 0 auto;position: relative;clear: both;}
.content1 .bg img{width: 1226px;}
.content1 .navbar{width: 234px; height: 418px; position: absolute;padding: 20px 0;top: 0;background: rgba(10,10,10,0.6);}
.content1 .navbar ul li{height: 42px;line-height: 42px;font-size: 14px;width: 204px; padding-left: 30px;}
.content1 .navbar ul .l8:hover{background: #ff6700;}
.content1 .navbar ul li a{color: #000000;}
.content1 .navbar ul li .a8{color: #FFFFFF;display: inline-block;}
.content .content1 .navbar ul li div.img{float: right;padding-right:20px ;}
.content .content1 .navbar ul li div.img img{width: 16px;}

.content1 .navbar .li{width: 992px;height: 444px;background-color: #FFFFFF;position: absolute;left: 234px;top:0;display: none;padding-top: 16px;}
.content1 .navbar .li ul li{width: 250;height: 77px;float: left;}
.content1 .navbar .li ul li img{width: 40px;}
.content1 .navbar .l8:hover .li{display: block;box-shadow: #CCCCCC 3px 2px 6px;}
.content1 .navbar ul li .a9:hover{color: #ff6700;}
.content1_1_1 ul li img{width: 30px;display: block;margin-left: 15px;}

.content1_1{padding: 20px 0;}
.content1_1 img{width: 316px;padding-left: 10px;}
.content1_1_1{width: 234px;height: 170px;background-color: rgba(100,100,100);float: left;}
.content1_1_2{float: right;}
.content1_1_1 ul li{float: left;width: 78px;height: 70px;text-align:center;padding-top: 15px;}
.content1_1_1 ul li a{color: #CCCCCC;}
.content1_1_1 ul li a:hover{color: #FFFFFF;}
.content1_2 img{width: 1226px;}
.content1_2{padding-bottom: 40px;}

.page{padding-top: 40px;font-size: 14px;background: #f5f5f5;color: #333333;}
.content2{width: 1226px;margin: 0 auto;}
.content2 .title .left{font-size: 20px;}
.content2 .title .right{font-size: 16px;}
.content2 .title .right:hover{color: #ff6700;}
.content2 .title{height: 58px;line-height: 58px;}

.content2 .body{width: 1226px;}
.content2 .body .left img{width: 234px;box-shadow: #CCCCCC 0px 0px 6px;margin-top: 10px;}
.content2 .body .left img:hover{margin-top: 9px;box-shadow: #CCCCCC 0px 0px 20px;margin-bottom: 1px;}
.content2 .body .right{width: 992px;}
.content2 .body .right ul li{background: #FFFFFF;float: left;width: 234px;height: 295px;margin-left: 14px;margin-bottom: 14px;margin-top: 10px;text-align: center;box-shadow: #DDDDDD 0px 0px 6px;}
.content2 .body .right ul li img{width: 160px;}
.content2 .body .right ul li:hover{margin-top: 9px;margin-bottom: 15px;box-shadow: #CCCCCC 0px 0px 20px}
.content2 .body .right ul li .p1{width: 64px;height: 20px;background: #83c44e;line-height: 20px;margin: 0 auto;}
.content2 .body .right .p3{color: #B0B0B0;font-size: 12px;margin: 0 10px 10px;}
.content2 .body .right .p4{color: red;}
.content2 .body .right .p2{width: 64px;height: 20px;background: #e53935;line-height: 20px;font-size: 12px;color: #FFFFFF;margin: 0 auto;}
.content2 .body .right .pp{background: #FFFFFF;}
.content2 .body .right .p4 del{color: #B0B0B0;}
.content2 .footer img{width: 1226px;}

.content3{width: 1226px;margin: 0 auto;margin-top: 30px;}
.content3 .title{height: 58px;line-height: 58px;position: relative;}
.content3 .title>.left{font-size: 20px;}
.content3 .title .right{font-size: 14px;}
.content3 .title .right .li1 span:hover{color: #ff6700;border-bottom: 2px solid #ff6700;}
.content3 .title .right .li1{float: left;font-size: 16px;color: #424242;margin-left: 30px;}
.content3 .content3_1{width: 234px;}
.content3 .content3_1 img{width: 234px;box-shadow: #CCCCCC 0px 0px 6px;margin-top: 10px;margin-bottom: 14px;}
.content3 .content3_1 img:hover{box-shadow: #CCCCCC 0px 0px 20px;margin-top: 9px;margin-bottom: 15px;}

.content3 .title .right .ul{left: 250px;width: 976px;position: absolute;display: none;}
.content3 .title .right .li1:hover .ul1{display: block;}
.content3 .title .right .li2{position: relative;margin-top: 10px;background: #FFFFFF;box-shadow: #DDDDDD 0px 0px 6px;margin-left: 14px;margin-bottom: 14px;width: 230px;float: left;height: 300px;text-align: center;}
.content3 .title .right .li2 img{width: 160px;}
.content3 .title .right .li2 .top{line-height: 142px;width: 230px;height: 142px;box-shadow: #DDDDDD 0px 0px 6px;background: #FFFFFF;margin-bottom: 16px;}
.content3 .title .right .li2 .top img{width: 80px;}
.content3 .title .right .li2 .top .left{width: 120px;height: 102px;padding:40px 0 0 20px}
.content3 .title .right .li2 .bottom .left{width: 120px;height: 102px;padding:40px 0 0 20px;}
.content3 .title .right .li2 .bottom .left .p9{height: 18px;font-size: 18px;line-height: 18px;}
.content3 .title .right .li2 .bottom .left .p8{height: 25px;font-size: 12px;line-height: 25px;}
.content3 .title .right .li2 .bottom img{width: 80px;}
.content3 .title .right .li2 .bottom{line-height: 142px;width: 230px;height: 142px;box-shadow: #DDDDDD 0px 0px 6px;background: #FFFFFF;}
.content3 .title .right .li2 .p1{width: 64px;height: 20px;background: #e53935;line-height: 20px;font-size: 12px;color: #FFFFFF;margin: 0 auto;}
.content3 .title .right .li2 .p2{height: 20px;line-height: 20px;font-size: 14px;}
.content3 .title .right .li2 .p3{color: #B0B0B0;font-size: 12px;height: 20px;line-height: 20px;}
.content3 .title .right .li9{background: transparent;box-shadow: #f5f5f5 0 0 0;}
.content3 .title .right .li2 .p6{line-height: 30px;font-size: 14px;color: #ff6700;}
.content3 .title .right .li2 .p6 del{color: #B0B0B0;}
.content3 .title .right .li2:hover{margin-bottom: 15px;margin-top: 9px;box-shadow: #CCCCCC 0px 0px 20px;}
.content3 .title .right .li2:hover .assess{height: 97px;}
.content3 .title .right .li9:hover{margin-bottom: 14px;margin-top: 10px;box-shadow: #DDDDDD 0px 0px 0px;}
.content3 .title .right .li9 .top:hover{box-shadow: #CCCCCC 0px 0px 25px;}
.content3 .title .right .li9 .bottom:hover{box-shadow: #CCCCCC 0px 0px 25px;}
.content3 .title .right .li2 .assess{width: 230px;background: #FF6700;height: 0px;position: absolute;bottom: 0;transition: 0.2s;}
.content3 .title .right .li2 .p4{color: #EEEEEE;font-size: 13px;height: 40px;}
.content3 .title .right .li2 .p5{color: #DDDDDD;font-size: 12px;height: 40px;}
.content3 .footer img{width: 1226px;}
.content3 .title .right .li2 .p7{background: #83C44E;}
.content3 .title .right .li2 .p8{background: transparent;}
.content3 .title .right .li9 .bottom img{width: 50px;margin-left: 10px;margin-bottom: 20px;}

.content4 h2{height: 58px;font-size: 22px;line-height: 58px;font-weight: 200;margin: 0;}
.content4{width: 1226px;margin: 0 auto;margin-top: 20px;}
.content4 ul li{float: left;width: 231px;height: 300px;background: #FFFFFF;text-align: center;margin: 10px 14px 14px 0;box-shadow: #DDDDDD 0px 0px 6px;}
.content4 ul li:hover{margin-bottom: 15px;margin-top: 9px;box-shadow: #CCCCCC 0px 0px 20px;}
.content4 dl dd img{width: 140px;}
.content4 dl dt{padding: 40px 0 15px;}
.content4 li dl{padding: 0 20px;}
.content4 dl,.content4 dt,.content4 dd{list-style: none;padding: 0;margin: 0;}
.content4 .dd1{margin: 0 0 10px;}
.content4 .dd2{margin: 0 0 10px;color: #ff6700;}
.content4 .dd3{color: #757575;}

.content5{width: 1226px;margin: 0 auto;margin-top: 20px;}
.content5 h2{height: 58px;font-size: 22px;line-height: 58px;font-weight: 200;margin: 0;}
.content5 ul li{float: left;width: 296px;height: 415px;background: #FFFFFF;margin: 10px 0 14px 14px;box-shadow: #DDDDDD 0px 0px 6px;}
.content5 ul li:hover{margin: 9px 0 15px 14px;box-shadow: #CCCCCC 0px 0px 20px;}
.content5 ul li img{width: 296px;}
.content5 ul li>a{display: block;padding: 23px;}
.content5 ul li p{color: #B0B0B0;font-size: 12px;margin: 0 28px 8px;padding-right: 10px;}
.content5 ul div{margin: 0 30px;}
.content5 ul div span{color: #FF6700;}

.content6{width: 1226px;margin: 0 auto;margin-top: 20px;}
.content6 h2{height: 58px;font-size: 22px;line-height: 58px;font-weight: 200;margin: 0;}
.content6 ul li{text-align: center;float: left;width: 296px;height: 420px;background: #FFFFFF;margin: 10px 0 14px 14px;box-shadow: #DDDDDD 0px 0px 6px;padding: 45px 0 0;}
.content6 ul li:hover{margin: 9px 0 15px 14px;box-shadow: #CCCCCC 0px 0px 20px;}
.content6 ul li img{width: 216px;}
.content6 ul li .a1{font-size: 20px;}
.content6 ul li .a2{display: block;margin: 0 48px 10px;font-size: 12px; color: #B0B0B0;height: 86px;}

.content7{width: 1226px;margin: 0 auto;margin-top: 20px;}
.content7 h2{height: 58px;font-size: 22px;line-height: 58px;font-weight: 200;margin: 0;}
.content7 ul li{text-align: center;float: left;width: 296px;height: 285px;background: #FFFFFF;margin: 10px 0 14px 14px;box-shadow: #DDDDDD 0px 0px 6px;}
.content7 ul li:hover{margin: 9px 0 15px 14px;box-shadow: #CCCCCC 0px 0px 20px;}
.content7 ul li img{width: 296px;}
.content7 ul li h3{margin: 0 0 6px;font-weight: 400;margin-top: 30px;font-size: 14px;}
.content7 ul li h3:{color: #FF6700;}
.content7 ul li p{color: #B0B0B0;font-size: 12px;}
