html,body{
	width: 100%;
}

.box{
	width: 100%;
}

.box:after{
	content: "";
	height: 0;
	display: block;
	overflow: hidden;
	clear: both;
}

.box1{
	width: 20%;
	float: left;
	/* border: 3px solid #000000; */
	/* /* margin: 20px; */ */
}

.box2{
	text-align: center;
	color: #fff;
	font-size: 50px;
}

