html,body{width: 100%;font-size: 50px;}
.page{width: 90%;margin:auto;}
.page .nav h3{font-size: 0.42rem;text-align: center;line-height: 1rem;}
.page .nav a{font-size: 0.6rem;display: block;position: absolute;left: 0;top: 0;}
.page .nav a:hover{color: red;}
.page .nav{position: relative;}

/* 头部样式 */
.header{width: 100%;border: 1px solid #CCCCCC;border-radius: 10px;box-shadow: 0 0 2px #CCCCCC;}
.header .top .img{width:9%;font-size: 0;margin: auto;margin-top: 5%;}
.header .top .img img{width:100%}
.header .top .p1{font-size: 0.3rem;line-height: 0.6rem;font-weight: 500;}
.header .top .p2{font-size: 0.6rem;font-weight: 700;line-height: 1rem;}
.header .top{width: 100%;display: flex;flex-direction: column;justify-content:space-around;text-align: center;}
.header .bottom{width: 100%;display: flex;justify-content: space-around;text-align: center;line-height: 0.6rem;}
.header .bottom .p1{font-size: 0.36rem;}
.header .bottom .p2{font-size: 0.24rem;}
.header .bottom .right{width: 30%;}
.header .bottom .left{width: 30%;}

/* 内容样式 */

.content,.content ul{width: 100%;}
.content ul li{margin: 5% 0;width: 100%;border: 1px solid #CCCCCC;border-radius: 10px;box-shadow: 0 0 2px #CCCCCC;display: flex;}
.content li a{width: 100%;display: flex;justify-content: space-between;line-height: 0.8rem;}
.content ul li div.left{width: 30%;margin-left: 3%;} 
.content ul li div.right{width: 37%;text-align: right;margin-right: 3%;} 
.content .p1{font-size: 0.3rem;font-weight: 550;}
.content .p2{font-size: 0.42rem;font-weight: 700;}
.content .p3{font-size: 0.24rem;}
.content .p4{font-size: 0.24rem;}
.content .p4 span{color: rgb(167,167,167);}
.content .p3 span{color: rgb(167,167,167);}


/* 尾部样式 */
.footer{text-align: center;line-height: 1rem;font-size: 0.26rem;color: rgb(87,107,149);}